.Burger{
    width: 500px;
    margin:auto;
    height:300px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
@media(min-width:500px)and(min-height:400px){
    .Burger{
        width: 300px;
        height: 250px;
    }
}