.Navigationitem {
  margin: 10px 0;
  box-sizing: border-box;
  display: block;
  width: 100%;
  align-items: center;
}
.Navigationitem a {
  color: burlywood;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}
.Navigationitem a:hover,
.Navigationitem a:active,
.Navigationitem a.active {
  background-color: white;
  color: black;
}
@media (min-width: 500px) {
  .Navigationitem {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
  }
  .Navigationitem a {
    color: white;
    text-decoration: none;
    height: 100;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
  }
  .Navigationitem a:hover,
  .Navigationitem a:active,
  .Navigationitem a.active {
    background-color: #8f5c2c;
    border-bottom: 4px solid blueviolet;
    color: white;
  }
}
